body{
    background-image: url("https://i.pinimg.com/736x/93/e3/e2/93e3e284383c8fe0cf04d4b090e1fa86.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    border-color: blue;
}